body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ece6e1;

    background-image: url("images/meno_back.jpg"); /*뺄까? 바꿀까?*/
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}